body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
}

.super-taste{
  font-size: 100px;
  color: red;
}


