body{
  margin: 0;
  font-family: Helvetica;
  font-weight: 700;
}

.App{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 95vh;
  
}

.item-box{
  display: flex;
  justify-content: space-between;
  width: 90%;

}

.top{
  position: fixed;
  top: 0;
}

/* .bottom{
  bottom: 0;
  position: fixed;

  i dont like this
} */

.logo{
  height: 350px;
}

.item{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
  color: black;
}




/* navbar css */

.navbar{
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 90%;
  font-size: 25px;
  margin-top: 10px;
}

.socials{
  display: flex;

}

.social-icon{
  margin-left: 5px;
  margin-right: 5px;
}

